<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="watch_List.css">
    <script src="watch_List.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body id="myApp">


    <!-- <--------------- Nav --------------->
    <div class="topnav">
          <a class="navbar-brand" href="#">
            <img src="../Images/Logo.png" alt="" width="30" height="24">
          </a>
          <a href="../landing_Page/landing_Page.html">Home</a>
          <a  class="active" href="../watch_List/watch_List.html">Watchlist</a>
          <a v-on:click="myFunction" id="logout" style="float: right; font-weight: bold; font-family: roboto">Logout</a>
          <a id="username"  v-for="details in userDetails" style="float: right; font-weight: bold; font-family: roboto">Hello {{ details.userName }}</a>
        </div>

    <!-- <--------------- End --------------->

    <!--------------- Search --------------->
    
    <div class="wrap">
      <div class="search">
         <input v-model="searchList" type="text" class="searchTerm" placeholder="Search movies">
          <button v-on:click="searchWord" type="submit" class="searchButton">
           <i class="fa fa-search"></i>   
          </button>
      </div>
    </div>
 
    <!-- <--------------- End --------------->

    <!--------------- Head Tag --------------->
    
    <h1 class="heading">
      WATCH LIST
    </h1>

    <!-- <--------------- End --------------->

    <!--------------- Head Tag --------------->

    <div id="movie_grid">
      <div v-for="(movie, id) in watchList" :key="id" class="movie-name card">
        <p>
          {{ movie.name }}
        </p>
        <img v-bind:src="movie.thumbnail" alt="Can't display">
        <button v-on:click="removeFromList(movie)" class="movie-button">
          DELETE
        </button>
      </div>
    </div> 

    <!-- <--------------- End --------------->
</body>
</html>