/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(35, 35, 35);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: roboto;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(229, 9, 20);
    color: white;
  }

/* .logo {
    position:fixed;
    top:10px;
    left:5;
    width: 10%;
}   */

.heading {
  color: white;
}

.card {
  width: 220px;
  height: 260px;
  margin: 20px;
  background-color: rgb(8, 8, 8);
  text-align: center;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#movie_grid {
  display: grid;
  grid-gap: 80px;
  padding-top: 100px;
  grid-template-columns: repeat(4, 1fr);
}

.movie-name {
  color: white;
  font-size: 16px;
  font-weight: bold;
  Text-align: center;  
}

.movie-button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color: rgb(229, 9, 20);
  width: 172px;
  height: 25px;
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #ecf0f1;
  transition: background-color .3s;
  bottom: 80px;
}

.heading {
  color: white;
  margin: 20px;
}

body {
  background:rgb(35, 35, 35)
}

p {
  top: 2px;
}

img {
  width: 100%;
}

/*Search Bar*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #333;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #333;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #333;
  background: #333;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-search:before {
  content: "\f002";
}

/*End*/

@media (min-width: 320px) {
  #movie_grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
  #movie_grid{ grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  #movie_grid { grid-template-columns: repeat(4, 1fr); }
}
